.container-carrito {
  
  .container_button_change {
    width: 100%;
    display: flex;
    

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px 4px;
      width: 2rem;
      height: 2rem;
      font-size: medium;
      font-weight: 400;
    }
    p {
      margin: auto;
    }
  }
  .btn_add {
    width: 100%;
  }
}
