.container-carrito {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  
  .container_button_change {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      width: 2rem;
      height: 2rem;
    }
    input {
      width: 20px;
      margin: 1rem;
    }
  }
  .btn_add {
    width: 100%;
  }
}
