.item_detail_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  @media screen and (max-width: 535px) {
    display: block;
  }
  img {
    border-radius: 4px;
    height: 30rem;
    object-fit:cover;
    @media screen and (max-width: 768px) {
      height: 20rem;
    }
    }
  .item_detail {
    display: block;
    align-items: center;
    justify-content: center;
    width: 40%;
    @media screen and (max-width: 425px) {
      width: 100%;
    }
    .title_detail {
      font-size: 20px;
    }
    .price_detail {
      font-size: 30px;
    }
    .function_buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
