$color1: #d8e3e7;
$color2: #51c4d3;
$color3: #126e82;
$color4: #132c33;
$size1: 1rem;

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    transition: transform 0.1s linear 0.3s;
    transition: box-shadow 0.1s linear 0.1s;
    width: 60rem;
    height: 10rem;
    @media screen and (max-width: 768px) {
      width: 40rem;
      height:auto;
    }
    @media screen and (max-width: 425px) {
      display: block;
      width: 20rem;
    }

    .card-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;    
      img {
        border-radius: 4px;
        width: 120px;
        height: 120px;
        object-fit: cover;
        @media screen and (max-width: 768px) {
          width: 120px;
          height: 120px;
        }
      }
    }
    .card-content {
      width: 40%;
      color: rgb(78, 79, 83);
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .card-title {
        font-size: 25px;
        font-weight: 200;
      }
      .price {
        font-size: 25px;
        font-weight: 600;
      }
    }
    .card-button {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}
.card:hover {
  box-shadow: -10px 10px 0px $color3;
  transform: translateY(-10px);
}
