.cart_detail {
  display: flex;
  background-color: #fafafa;
  transition: transform 0.1s linear 0.3s;
  transition: box-shadow 0.1s linear 0.1s;

  .container_img {
    margin-right: 12px;
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      margin: 3rem 0;
      @media screen and (max-width: 768px) {
        height: 50px;
        width: 50px;
      }
    }
  }
  .detail_title {
    width: 10rem;

    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }
  .detail_price_button {
    display: block;
  }
}
.cart_detail:hover {
  box-shadow: -5px 5px 0px #126e82;
  transform: translateY(-10px);
}
