.cart_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  @media screen and (max-width: 768px) {
    display: block;
    width: 80%;
  }
  img {
    height: 5rem;
   
    @media screen and (max-width: 768px) {
        height: 50%;
       width: 50%;
       
      }
  }
  .detail_title {
    width: 10rem;
    margin: 2rem;
    @media screen and (max-width: 768px) {
        width: 80%;
    }

  }
  .detail_price_button {
    display: block;

    .detail_price {
      margin: 2rem;
    }
  }
}
.cart_detail:hover {
  box-shadow: rgba(0, 0, 0, 0.541) 0 0 5px;
}
