.container-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  .container_add_poduct .add_product{
    font-size: 10px;
  }
  .container_quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 30px;
    }
    .carrito-svg {
      margin: 0 8px 0 12px;
      height: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 200;
      margin: 8px;
    }
  }
}
