$color1: #d8e3e7;
$color2: #51c4d3;
$color3: #126e82;
$color4: #132c33;
$size1: 1rem;

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color3;
  width: 100%;
  padding: 2px;

  .nombre_logo {
    margin-left: 2%;
    font-size: $size1;
    font-weight: 200;
    width: 20%;
    strong {
      font-size: $size1;
      font-weight: 600;
    }
  }
  #nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 -10%;
    li {
      font-size: 2rem;
      font-weight: 200;
      
    }
  }
  .container-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    .carrito-svg {
      height: 2rem;
    }
    .quantity_product{
      margin: 0 12px;
    }

    .img-avatar {
      margin: 0 8px 0 12px;
      height: 60px;
    }
  }
}
