$color1: #d8e3e7;
$color2: #51c4d3;
$color3: #126e82;
$color4: #132c33;
$size1: 20px;

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color3;
  width: 100%;
  padding: 2px;

  .nombre_logo {
    margin-left: 2%;
    font-size: $size1;
    font-weight: 200;
    width: auto;
    strong {
      font-size: $size1;
      font-weight: 600;
    }
  }
  .display{
   
    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  .container-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
   svg{
    fill:rgba(255, 255, 255, 1);
    height: 20px;
   }
    
    .quantity_product {
      font-size: 20px;
      margin: 0 12px;
    }
  }
  
}
.display-hidden{
      background-color: $color4;
      display: none;
    
      @media screen and (max-width: 425px) {
      display: flex;
      align-items: center;
      justify-content: center;
      }
  }