$color1: #d8e3e7;
$color2: #51c4d3;
$color3: #126e82;
$color4: #132c33;


footer{
    background-color: $color4;
    padding: 2rem;
    margin: 4rem 0 0 0;
    .footer_title{
        color: $color1;
        margin: 2rem;
    }
    p{
        text-align: center;
        color: $color1;
        margin: 2rem;
    }
    ul{
       
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color1;
       
    }
}