$color1: #d8e3e7;
$color2: #51c4d3;
$color3: #126e82;
$color4: #132c33;


footer{
    background: linear-gradient(
        90deg,
        rgba(19, 44, 51, 1) 0%,
        rgba(18, 110, 130, 1) 100%
      );
    
    padding: 2rem;
    width: 100%;
   
    .footer_title{
        color: $color1;
        margin: 2rem;
    }
    .container_map{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        text-align: center;
        color: $color1;
        margin: 2rem;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        
       li a{
           text-decoration: none;
           color: $color1;
       }
    }
}