$color1:#d8e3e7;
$color2:#51c4d3;
$color3:#126e82;
$color4:#132c33;
$size1:30px;

body{
    background-color: $color1;
    .navBar{
        background-color: rgb(77, 115, 172);
        .nombre_logo{
            margin-left: 20px;
            font-size: $size1;
            font-weight: 200;
            strong{
                font-size: $size1;
                font-weight: 600;
            }
        }
    }
}